@import 'courtain.css';
@import 'panels.css';
@import 'nav.css';
@import 'header.css';
@import 'contact.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
}

body {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    background-color: #222;
}

body div.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}


/* background-color: #7A5FFA; */